// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
 
@import 'layout/header';
@import 'home/carousel-home';

$fa-font-path:        "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
:root{
    --bg-default-brown:#571b1b;
}

.color-default{
    color:$default;
}
.bg-default-1{
    background-color:$default-1;
}
.color-default-link{
    color:$indigo;
}
.bg-default{
    background-color:$default;
}
.bg-alert{
    background-color:$bg-alert;
}
body,html{
    height:100%;
}
.admin-table-container{
    min-height:calc(100vh - 259px);
}