@tailwind base;
@tailwind components;
@tailwind utilities;


.header-bottom .container{
    width:100%;
}
.dropdown-menu.right {
    right: 0 !important;
    left: auto !important;
}

/********************************/
/* User Side navigation */

.w-90{
    width: 95%;
    padding: 0;
}

.ul-items{
    background-color: #ac421d !important;
}
.ul-items>ul>li{
    color: #fff;
    padding: 6px 0;
    border-bottom: 1px solid #fff;
}
.ul-items>h5{
    color: #fff;
    padding: 6px 0;
    border-bottom: 1px solid #fff;
}
.ul-items>h5>i{
    padding: 0 0.5rem 0 0rem;
}
.ul-items>ul>li>a {
    text-transform: uppercase;
    font-size: 12px;
}
.ul-items>ul li a i{
    padding: 0 0.5rem 0 0rem;
}

.ul-items>ul>li:hover {
    background-color: #ffffff !important;
    color: #222222;
}
.ul-items>ul>li>a:hover {
    color: #222222;
    text-decoration: none;
}
.all-number-item{
    background-color: #763435;
    padding: 12px 14px;
}
/* Grid 3 Columns */
.grid-content{
    text-align: center;

}
.grid-content div{
    padding: 0.5rem 0;
    /* border: 1px solid #222222; */
}
.grid-content .manage-user_wrapper{
    padding: 0 !important;
}

.grid-content div ul{
    background-color: #ffffe0;
    border: 1px solid #fe980f;
    min-height: 220px !important;
    padding: 2.5rem 1rem;
    vertical-align: middle;
    width: 90%;
    margin: 0 auto;
}

.grid-content div ul h5, .grid-content div ul h2, .grid-content div ul p {
    margin-bottom: 1.5rem;
}

/*  */

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border linear .2s,box-shadow linear .2s;
    padding: 4px 6px;
    border-radius: 5px;
}
.w-98{
    width: 99% !important;
}


table.display thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #cccccc;
    padding-bottom: 0;
    padding-top: 0;
}
table.display tbody tr th, table.display tbody tr td{
    border: 1px solid #cccccc;
} 

/* Supplier */
h3.ics-title {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.row.supplier-ics-container {
    max-width: 95%;
    margin: 0 auto;
}

.row.mx-auto .col-md-4 {
    flex: 0 0 31.333333%;
    max-width: 31.333333%;
}
.supplier-ics-container>div> label.text-center {
    width: 100%;
    margin: 0.5rem;
}

.fund-cluster-row .col-md-3 {
    max-width: 23%;
}
.item-equipment-description-section{
    width: 92%;
    margin: 0 auto;
}
.item-equipment-description-section.shadow-lg .inner-container {
    width: 96%;
    margin: 0 auto;
}

.w-98{
    width: 98%;
}
.w-95{
    width: 95%;
}
.w-97{
    width: 97%;
}

/* SubChild  Menu */
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
      